body
{
    background-image: url(http://getwallpapers.com/wallpaper/full/f/a/e/35756.jpg);
    /* margin-left: 130px; */
    
    font-family: 'Lexend Tera', sans-serif;
    margin-right: 50px;
    margin-left: 50px;
}

#busImg
{
    width: 140px;
    height: 140px;
    border-color: lightgreen;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.8;
}


#display
{
    margin-right: 10%;
    margin-left: 10%;
    align-content: flex-end;
}

#title
{
    
    font-size: 120px;
    text-align: center;
    padding: 20px;
    
}

main
{
    opacity: 0.9;
    border-radius: 250px;
    background-color: lightgoldenrodyellow;
    padding-bottom: 150px;
    padding-top: 90px;
    margin-bottom: 0px;
    
}
header
{
    opacity: 1;
    margin-top: 2px;
    border-radius: 300px;
    background-color: lightgreen;
    margin-bottom: 5px;
    text-decoration: none;
}

#welcomeMsg
{
    border-style: outset;
    border-color: lightgreen;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 40px;
    padding: 20px;
}

#nav
{

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    text-decoration: none;
    justify-content: space-between;
    padding-bottom: 40px;
    
   
}
nav a{
    text-decoration: none;
}

#nav :hover
{
    color: tomato;
}

#one
{
    margin-right: 40px;
    padding: 20px;
    border-style: outset;
    border-radius: 50px;
    border-color: lime;
}

#two
{
    border-style: outset;
    border-radius: 50px;
    padding: 20px;
    border-color: lime;
}

#right
{
    opacity: 1;
    border-color: lightgreen;
    border-style: outset;
    height: 195px;
    width: 175px;
    margin-left: 10%;
    margin-right: 4%;
    text-align: center;

}

#middle
{
    opacity: 1;
    border-color: lightgreen;
    border-style: outset;
    height: 195px;
    width: 175px;
    margin-left: 10%;
    margin-right: 4%;
    text-align: center;

}

#left
{
    opacity: 1;
    border-color: lightgreen;
    border-style: outset;
    height: 195px;
    width: 175px;
    margin-left: 10%;
    margin-right: 4%;
    text-align: center;

}
#prod
{
    margin-left:50px ;
    margin-right: 1190px;
    margin-bottom: 100px;
    background-color: lightgreen;
    border-radius: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-style: solid;
    border-color: lightgreen;
    font-size: 40px;
    font-weight: bold;

}

footer
{
background-color: lightgreen;
opacity: 0.9;
border-radius: 200px;
text-align: center;
padding-bottom: 10px;
padding-top: 10px;
}